{% extends "layout.html" %}

{% block title %}
    Sign Up!
{% endblock %}

{% block content %}
    <img class="bg-img" src="/static/img/images/banner5.jpg" alt="background image">
    <form action="/signup" method="post" style="padding: 20vh; text-align: center">
        <div class="mb-3">
            <h2 style="color:cadetblue; background-color:aliceblue"><b><i>Sign Up Your Account!</i></b></h2>
        </div><br><br>

        <div class="mb-3">
            <input autofocus autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
        </div><br>

        <div class="mb-3">
            <select name="preference1" class="mb-3">
                <option disabled selected>Genre 1st preference</option>
                <option value="romance">Romance</option>
                <option value="self-help">Self-help and Motivational</option>
                <option value="finance">Business, Finance and Economics</option>
                <option value="literature">Literature and Fictional</option>
                <option value="history">History</option>
                <option value="comics">Comics</option>
                <option value="mystery">Crime, Thriller and Mystery</option>
                <option value="biography">Biographies</option>
            </select>
        </div>

        <div class="mb-3">
            <select name="preference2" class="mb-3">
                <option disabled selected>Genre 2nd preference</option>
                <option value="romance">Romance</option>
                <option value="self-help">Self-help and Motivational</option>
                <option value="finance">Business, Finance and Economics</option>
                <option value="literature">Literature and Fictional</option>
                <option value="history">History</option>
                <option value="comics">Comics</option>
                <option value="mystery">Crime, Thriller and Mystery</option>
                <option value="biography">Biographies</option>
            </select>
        </div>

        <div class="mb-3">
            <select name="preference3" class="mb-3">
                <option disabled selected>Genre 3rd preference</option>
                <option value="romance">Romance</option>
                <option value="self-help">Self-help and Motivational</option>
                <option value="finance">Business, Finance and Economics</option>
                <option value="literature">Literature and Fictional</option>
                <option value="history">History</option>
                <option value="comics">Comics</option>
                <option value="mystery">Crime, Thriller and Mystery</option>
                <option value="biography">Biographies</option>
            </select>
        </div>

        <button class="btn btn-primary" type="submit">Sign up</button><br><br><br>

        <div class="mb-3" style="margin-left: 37%; width: 50%; padding: 30px 20px;">
            <p style="color:cadetblue; background-color:aliceblue; width:53%;"><b><i>Already have an account? <a href="{{ url_for('login') }}">Log In!</a></i></b></p>
        </div>

    </form>
{% endblock %}



